In [3]:
import pandas as pd
import numpy as np
import math
import os

%load_ext autotime
%matplotlib inline

FILE = "cleaned_data.csv"

%pwd

The autotime extension is already loaded. To reload it, use:
  %reload_ext autotime

'C:\\Users\\jimpg\\OneDrive\\Documents\\APWS'

time: 4 ms

In [4]:
file_path = os.path.join("processed_data", FILE)
df = pd.read_csv(file_path)
df

,Unnamed: 0,Temperature (K),Radiation,SO2,NO2,O3,CO,PM10,PM2.5
0,2017-01-01 00:00:00,272.00818,61.362255,0.004,0.059,0.002,1.2,73.0,57.0
1,2017-01-01 01:00:00,272.25480,171.832320,0.004,0.058,0.002,1.2,71.0,59.0
2,2017-01-01 02:00:00,277.65262,299.281650,0.004,0.056,0.002,1.2,70.0,59.0
3,2017-01-01 03:00:00,278.54010,390.387570,0.004,0.056,0.002,1.2,70.0,58.0
4,2017-01-01 04:00:00,278.69528,378.793100,0.003,0.051,0.002,1.2,69.0,61.0
...,...,...,...,...,...,...,...,...,...
25900,2019-12-31 19:00:00,267.61273,0.000000,0.003,0.026,0.014,0.5,26.0,19.0
25901,2019-12-31 20:00:00,268.24185,0.000000,0.003,0.024,0.014,0.4,27.0,19.0
25902,2019-12-31 21:00:00,268.46835,0.000000,0.003,0.014,0.021,0.4,23.0,18.0
25903,2019-12-31 22:00:00,268.89783,0.000000,0.003,0.022,0.014,0.5,20.0,19.0
25904,2019-12-31 23:00:00,268.99933,0.509965,0.004,0.035,0.005,0.5,20.0,15.0

time: 37.1 ms

# Exploratory Data Analysis
### Topics of Interest:
- Clustering
- Correlations
- Feature Importance
- Trends

# Models